version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/ocr-service"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/ocr_reconstruct"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
