# Python
__pycache__/
*.pyc
venv/
.venv*
frontend/.venv*
terraform/tfplan
.env
.env.local
.env.*.local

# Package build artifacts
*.egg-info/
build/
dist/

# Node
node_modules/
dist/
.build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS
.DS_Store

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# AWS CLI
*.pem


# Local env files
frontend/.env.development
*.local
.env*
