[MASTER]
ignore=CVS
ignore-patterns=
persistent=yes
load-plugins=
jobs=1
unsafe-load-any-extension=no
extension-pkg-whitelist=cv2,numpy

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    broad-exception-caught,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-many-positional-arguments,
    import-outside-toplevel

[REPORTS]
output-format=text
files-output=no
reports=no
evaluation=10 * ((10 - 5 * float(fatal + error + warning + refactor + convention) / statement) or 1)

[FORMAT]
max-line-length=88
layout=
expected-line-ending-format=
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[BASIC]
good-names=i,j,k,ex,Run,_,e,m,s3,id,se
