version: '3.8'

services:
    api:
      build:
        context: .
        dockerfile: ocr-service/Dockerfile
      command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
      ports:
        - "8000:8000"
      environment:
        - REDIS_HOST=redis
      depends_on:
        - redis

    worker:
      build:
        context: .
        dockerfile: ocr-service/Dockerfile
      command: ["python", "worker.py"]
      environment:
        - REDIS_HOST=redis
      depends_on:
        - redis

    redis:
      image: "redis:alpine"


    label-studio:
      image: "heartexlabs/label-studio:latest"
      ports:
        - "8080:8080"
      volumes:
        - ./data/label-studio:/label-studio/data

volumes:
  localstack_init:
    driver: local
