fastapi==0.128.0
pydantic==2.12.5
redis==7.0.1
uvicorn==0.39.0
numpy==1.26.4
scikit-learn==1.5.2
label-studio-sdk==2.0.10
dvc[s3]==3.59.0
pytest==8.4.2
matplotlib==3.9.4
pandas==2.3.3
python-dotenv==1.2.1
