name: Model-Training-Workflow
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    container: docker://iterativeai/cml:0-dvc2-base1
    steps:
      - uses: actions/checkout@v3

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-cml-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-cml-pip-

      - name: Train Model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          dvc pull data/raw
          python src/train.py
          echo "## Model Metrics" > report.md
          cat metrics.json >> report.md
          echo "## Confusion Matrix" >> report.md
          cml-publish confusion_matrix.png --md >> report.md
          cml send-comment report.md
